<%= form_with(model: station, local: true ,html: { multipart: true }) do |form| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image, id: :image %>
    </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :station_name %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :station_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :station_longitude %>
  </div>

    <div class="field">
      <%= form.label :Rutas %>
      <%= collection_select(:routes, :ids, @all_routes, :id, :name, {}, {:multiple => true}) %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
