<div class="container detail-page">
  <p id="notice"><%= notice %></p>

  <h1 class="title-page">Paradas</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Latitud</th>
      <th>Longitud</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @stations.each do |station| %>
        <tr>
          <td><%= station.name %></td>
          <td><%= station.latitude %></td>
          <td><%= station.longitude %></td>
          <td><%= link_to station_path(station) do %>
                <span class="glyphicon glyphicon-eye-open" data-toggle="tooltip" title="show"></span>
                Ver
            <% end %>
          </td>
          <td><%= link_to edit_station_path(station) do %>
                <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="editar"></span>
                Editar
            <% end %>
          </td>
          <td><%= link_to station_path(station), method: :delete, data: {confirm: 'Esta seguro?'} do %>
                <span class="glyphicon glyphicon-remove-sign" data-toggle="tooltip" title="eliminar"></span>
                Eliminar
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Agregar Parada', new_station_path %>
</div>