<p id="notice"><%= notice %></p>

<div class="container stations-detail-page">
  <div class="row">
    <div class="col-md-12">
      <h1 class="title-page">
        <%= @station.name %>
      </h1>

      <p>
        <%= image_tag @station.image.url(:medium) %>
      </p>

      <fieldset>
        <legend> Informacion General</legend>
        <p>
          <strong>Latitud:</strong>
          <%= @station.latitude %>
        </p>

        <p>
          <strong>Longitud:</strong>
          <%= @station.longitude %>
        </p>


        <strong>Rutas:</strong>
        <ol>
          <% @stations_routes_list_compact.each do |element| %>
              <li><%= element %></li>
          <% end %>
        </ol>

        <%= link_to edit_station_path(@station) do %>
            <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="eliminar"></span>
            Editar
        <% end %>
        |
        <%= link_to stations_path do %>
            <span class="glyphicon glyphicon-arrow-left" data-toggle="tooltip" title="eliminar"></span>
            Paradas
        <% end %>

      </fieldset>
    </div>
  </div>
</div>



