<%= form_with(model: route, local: true) do |form| %>
    <% if route.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

          <ul>
            <% route.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :route_name %>
    </div>

    <div class="field">
      <%= form.label :observations %>
      <%= form.text_field :observations, id: :route_observations %>
    </div>

    <div class="field">
      <%= form.label :flotaLV %>
      <%= form.text_field :flotaLV, id: :flotaLV %>
    </div>

    <div class="field">
      <%= form.label :horaLV %>
      <%= form.text_field :horaLV, id: :horaLV %>
    </div>

    <div class="field">
      <%= form.label :interLVP %>
      <%= form.text_field :interLVP, id: :interLVP %>
    </div>

    <div class="field">
      <%= form.label :interLVN %>
      <%= form.text_field :interLVN, id: :interLVN %>
    </div>

    <div class="field">
      <%= form.label :flotaS %>
      <%= form.text_field :flotaS, id: :flotaS %>
    </div>

    <div class="field">
      <%= form.label :horaS %>
      <%= form.text_field :horaS, id: :horaS %>
    </div>

    <div class="field">
      <%= form.label :interSP %>
      <%= form.text_field :interSP, id: :interSP %>
    </div>

    <div class="field">
      <%= form.label :interSN %>
      <%= form.text_field :interSN, id: :interSN %>
    </div>

    <div class="field">
      <%= form.label :flotaDF %>
      <%= form.text_field :flotaDF, id: :flotaDF %>
    </div>

    <div class="field">
      <%= form.label :horaDF %>
      <%= form.text_field :horaDF, id: :horaDF %>
    </div>

    <div class="field">
      <%= form.label :interDFP %>
      <%= form.text_field :interDFP, id: :interDFP %>
    </div>

    <div class="field">
      <%= form.label :interDFN %>
      <%= form.text_field :interDFN, id: :interDFN %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
