<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-md-12">
      <h1 class="title-page">
        <%= @route.name %>
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <fieldset>
        <legend>Horarios</legend>
        <table class="table">
          <thead>
          <tr>
            <th>Dias</th>
            <th>Horario</th>
            <th>Buses</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Lunes - Viernes</td>
            <td><%= @route.horaLV %></td>
            <td><%= @route.flotaLV %></td>
          </tr>
          <tr>
            <td>Sabado</td>
            <td><%= @route.horaS %></td>
            <td><%= @route.flotaS %></td>
          </tr>
          <tr>
            <td>Domingo y Feriados</td>
            <td><%= @route.horaDF %></td>
            <td><%= @route.flotaDF %></td>
          </tr>
          </tbody>
        </table>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <fieldset>
        <legend>Intervalos de llegada</legend>
        <table class="table">
          <thead>
          <tr>
            <th>Dias</th>
            <th>Horas Pico</th>
            <th>Normal</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Lunes - Viernes</td>
            <td><%= @route.interLVP %></td>
            <td><%= @route.interLVN %></td>
          </tr>
          <tr>
            <td>Sabado</td>
            <td><%= @route.interSP %></td>
            <td><%= @route.interSN %></td>
          </tr>
          <tr>
            <td>Domingo y Feriados</td>
            <td><%= @route.interDFP %></td>
            <td><%= @route.interDFN %></td>
          </tr>
          </tbody>
        </table>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <fieldset>
        <legend>Observaciones</legend>
        <p>
          <%= @route.observations %>
        </p>
      </fieldset>
    </div>
  </div>

  <%= link_to edit_route_path(@route) do %>
      <span class="glyphicon glyphicon-edit" data-toggle="tooltip" title="eliminar"></span>
      Editar
  <% end %>
  |
  <%= link_to routes_path do %>
      <span class="glyphicon glyphicon-arrow-left" data-toggle="tooltip" title="eliminar"></span>
      Rutas
  <% end %>
</div>