<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>Observations:</strong>
  <%= @route.observations %>
</p>

<p>
  <strong>Flota de Lunes a Viernes</strong>
  <%= @route.flotaLV %>
</p>

<p>
  <strong>Horario Lunes a Viernes</strong>
  <%= @route.horaLV %>
</p>

<p>
  <strong>Intervalo hora pico Lunes a Viernes</strong>
  <%= @route.interLVP %>
</p>

<p>
  <strong>Intervalo horario normal Lunes a Viernes</strong>
  <%= @route.interLVN %>
</p>

<p>
  <strong>Flota Sabado</strong>
  <%= @route.flotaS %>
</p>

<p>
  <strong>Horario Lunes a Viernes</strong>
  <%= @route.horaS %>
</p>

<p>
  <strong>Intervalo hora pico Lunes a Viernes</strong>
  <%= @route.interSP %>
</p>

<p>
  <strong>Intervalo horario normal Lunes a Viernes</strong>
  <%= @route.interSN %>
</p>

<p>
  <strong>Flota Sabado</strong>
  <%= @route.flotaS %>
</p>

<p>
  <strong>Horario Lunes a Viernes</strong>
  <%= @route.horaS %>
</p>

<p>
  <strong>Intervalo hora pico Lunes a Viernes</strong>
  <%= @route.interSP %>
</p>

<p>
  <strong>Intervalo horario normal Lunes a Viernes</strong>
  <%= @route.interSN %>
</p>

<p>
  <strong>Flota Domingos y Feriados</strong>
  <%= @route.flotaDF %>
</p>

<p>
  <strong>Horario Domingos y Feriados</strong>
  <%= @route.horaDF %>
</p>

<p>
  <strong>Intervalo hora pico Lunes a Viernes</strong>
  <%= @route.interDFP %>
</p>

<p>
  <strong>Intervalo horario normal Lunes a Viernes</strong>
  <%= @route.interDFN %>
</p>


<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
