<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="title-page">Sitios de Interes</h1>

  <table class="table">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Categoria</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= place.category.name %></td>
          <td><%= link_to 'Show', place %></td>
          <td><%= link_to 'Edit', edit_place_path(place) %></td>
          <td><%= link_to 'Destroy', place, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Place', new_place_path %>
</div>
