<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @place.category.name %>
</p>

<p>
  <strong>Routes:</strong>
  <%= collection_select(:routes, :id,  @places_routes_list, :id, :name, {}, {:multiple => true}) %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
